<tr>
  <td class="text"><%= link_to subscription_template.name, (subscription_template.project ? edit_project_subscription_template_path(subscription_template.project, subscription_template) : edit_subscription_template_path(subscription_template)) %></td>
  <td class="text"><div><%= textilizable subscription_template.subject %></div></td>
  <td class="text"><div><%= textilizable subscription_template.issue_status.name %></div></td>
  <td><%= delete_link(subscription_template.project ? project_subscription_template_path(subscription_template.project, subscription_template) : subscription_template_path(subscription_template)) %>
</tr>
